body{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-image: url(83-838296_web-designer-professional-website-background-images.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.kk{
    text-align: center;
    text-transform: capitalize;
       
    margin-right: 500px;
    margin-left: 500px;

}
.kk2{
    text-transform: capitalize;
     
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 50px;
    margin-right: 100px;
}
.kk3{

    text-transform: capitalize;
     margin: 50px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    

}
.kk4{
    text-transform: capitalize;
    padding-top: 50px;
    margin: 10px 250px 10px 250px;
    text-decoration: none;

    text-align: center;
}


.ok{
    text-transform: capitalize;
    display: flex;
}
a{

    text-align: center;
    text-size-adjust: 5px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}
img{

    display: flex;
flex-wrap: wrap;
align-content: center;
  }

    